[submodule "gits/OpenBLAS_0_3_17"]
	path = gits/OpenBLAS_0_3_17
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "gits/libjpeg-turbo_2_1_1"]
	path = gits/libjpeg-turbo_2_1_1
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "gits/eigen3_3_4_0"]
	path = gits/eigen3_3_4_0
	url = https://gitlab.com/libeigen/eigen.git
[submodule "gits/SuiteSparse_5_10_1"]
	path = gits/SuiteSparse_5_10_1
	url = https://github.com/DrTimothyAldenDavis/SuiteSparse.git
[submodule "gits/ceres-solver_2_0_0"]
	path = gits/ceres-solver_2_0_0
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "gits/OpenCV3_3_4_15"]
	path = gits/OpenCV3_3_4_15
	url = https://github.com/opencv/opencv.git
[submodule "gits/OpenCV3_contrib_3_4_15"]
	path = gits/OpenCV3_contrib_3_4_15
	url = https://github.com/opencv/opencv_contrib.git
[submodule "gits/g2o_20201223"]
	path = gits/g2o_20201223
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "gits/LLVM_12_0_1"]
	path = gits/LLVM_12_0_1
	url = https://github.com/llvm/llvm-project.git
[submodule "gits/harfbuzz_2_9_1"]
	path = gits/harfbuzz_2_9_1
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "gits/blitz_1_0_2"]
	path = gits/blitz_1_0_2
	url = https://github.com/blitzpp/blitz.git
[submodule "gits/nmealib_0_6_5"]
	path = gits/nmealib_0_6_5
	url = https://github.com/Paulxia/nmealib.git
[submodule "gits/nmealib_0_5_3"]
	path = gits/nmealib_0_5_3
	url = https://github.com/Paulxia/nmealib.git
[submodule "gits/GPUJPEG_1_0_0"]
	path = gits/GPUJPEG_1_0_0
	url = https://github.com/CESNET/GPUJPEG.git
[submodule "gits/armadillo_10_7"]
	path = gits/armadillo_10_7
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "gits/Pangolin_0_6"]
	path = gits/Pangolin_0_6
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "gits/gf_orb_slam2_1_0"]
	path = gits/gf_orb_slam2_1_0
	url = https://github.com/ivalab/gf_orb_slam2.git
[submodule "gits/ads_3_7_2"]
	path = gits/ads_3_7_2
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "gits/JKQtPlotter_2019_11_3"]
	path = gits/JKQtPlotter_2019_11_3
	url = https://github.com/jkriege2/JKQtPlotter.git
[submodule "gits/GeographicLib_release"]
	path = gits/GeographicLib_release
	url = https://git.code.sf.net/p/geographiclib/code
